.footer {
  background-color: var(--colorBlack);
  display: flex;
  flex-direction: column;
  padding-block: 150px;
  background-color: var(--colorBlack);

  .footer-list {
    display: flex;
    gap: clamp(20px, 4vw, 60px);
    font-size: clamp(var(--font-size-md), 2vw, var(--font-size-lg));
    justify-content: center;
  }

  .logo-wrapper {
    text-align: center;
    padding-top: 30px;
  }

  @media screen and (max-width: 767px) {
    .footer-list {
      font-size: var(--font-size-sm);
      gap: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }

    .footer-link {
      padding: 8px 20px;
      display: inline-block;
    }

    .footer {
      padding-block: 30px 120px;
    }
  }
}
