.section-title {
  margin-bottom: 100px;

  .ja {
    font-weight: bold;
    position: relative;
    font-size: var(--font-size-xxl);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 4px;
    display: inline-block;

    &::before {
      position: absolute;
      top: 59px;
      left: -4px;
      width: 5px;
      height: 5px;
      content: "";
      border-radius: 50%;
      z-index: 100;
    }
  }

  .en {
    font-size: var(--font-size-lg);
    font-family: var(--mainFontEN);
    display: block;
  }

  &.black .ja {
    color: var(--colorBlack);
    border-color: var(--colorBlack);
  }
  &.black .ja::before {
    background-color: var(--colorBlack);
  }
  &.black .en {
    color: var(--colorBlack);
  }

  &.white .ja {
    color: var(--colorWhite);
    border-color: var(--colorWhite);
  }
  &.white .ja::before {
    background-color: var(--colorWhite);
  }
  &.white .en {
    color: var(--colorWhite);
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 35px;
    text-align: center;

    .ja {
      font-size: var(--font-size-xl);

      &::before {
        top: 45px;
      }
    }

    .en {
      font-size: var(--font-size-sm);
    }
  }
}
