.privacy-img {
  width: 100%;
  height: auto;
}

.page-header {
  background-color: var(--colorBlack);
}

.privacy-container {
  font-size: var(--font-size-md-lg);
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media screen and (max-width: 767px) {
    font-size: var(--font-size-sm);
    gap: 30px;
  }
}

.policy-article-title {
  font-size: var(--font-size-xl);
  @media (max-width: 767px) {
    font-size: var(--font-size-md-lg);
  }
}
