.logo {
  font-size: 40px;
}

.nav-menu {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  padding-inline: 70px;
  justify-content: space-between;

  width: 100%;
}

.nav-list {
  display: flex;
  gap: 60px;
  font-size: 24px;
  align-items: center;
}

/*.top-view-text {*/
/*  font-weight: bold;*/
/*}*/

/*.top-view-image {*/
/*  max-width: 1000px;*/
/*}*/

.bg-image {
  width: 100vw;
  position: relative;
}

.price-plan {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.price-plan .period {
  font-size: 30px;
  font-weight: bold;
}

.price-plan .description {
  font-size: 22px;
  letter-spacing: 1px;
}

.price-plan .price {
  font-size: 30px;
  font-weight: bold;
}

.price-card {
  max-width: 800px;
  border-radius: 4px;
  background-color: var(--colorWhite);
  color: var(--colorBlack);
  padding: 90px;

  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.price-section-container {
  background-image: url("../../images/top/priceSectionBackImage.jpg");
  background-color: #1c1c1c;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding-top: 200px;
  padding-left: 100px;
}

.section-title .ja {
  font-weight: bold;
  position: relative;
  font-size: 40px;
  border-bottom: 2px solid var(--colorPureWhite);
  padding-bottom: 4px;
  display: inline-block;
}

.section-title .ja::before {
  background-color: var(--colorWhite);
  position: absolute;
  top: 60px;
  left: -4px;
  width: 5px;
  height: 5px;
  content: "";
  border-radius: 50%;
  z-index: 100;
}

.section-title .en {
  font-size: 20px;
  display: block;
}

.link-button {
  font-weight: bold;
  background-color: var(--buttonColor);
  color: var(--colorWhite);
  font-size: 30px;
  padding: 30px 90px;
  display: inline-block;
}
