/*bodyから外したけど結局こっちにつけているぞ。。。*/
.container {
  background-color: var(--colorBlack);
}

.logo {
  font-size: 40px;
}

.nav-menu {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  padding-inline: 70px;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}

.nav-list {
  display: flex;
  gap: 60px;
  font-size: 24px;
  align-items: center;
}

.fixed-bottom-contact-container {
  width: 100vw;
  height: 90px;
  background-color: var(--flexBottomContactBgColor);
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding-inline: 140px;
}
.tel-number {
  font-size: 40px;
  letter-spacing: 2px;
}
.shop-info-list {
  font-size: 20px;
  display: flex;
  gap: 30px;
}

.line-link-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.line-form-container {
  font-size: 18px;
}

.line-green {
  color: var(--lineColor);
}

.top-view-section-container {
  background-color: var(--colorBlack);
  margin: 90px auto 0;
}

.top-view-contents-container {
  max-width: 1400px;
  height: 1000px;
  position: relative;
}

.top-view-text-container {
  position: absolute;
  top: 30%;
  left: 100px;
  z-index: 40;
}

.top-view-text {
  font-weight: bold;
  font-size: 40px;
}

.top-img-container {
  position: absolute;
  top: 0;
  right: 0;
}

.top-view-image {
  max-width: 1000px;
  height: 782px;
}

.vertical-section-container {
  background-color: var(--colorBlack);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  column-gap: 200px;
  margin: 30px 0 160px;
}

.vertical-title {
  font-weight: bold;
  font-size: 40px;
  color: #d0a900;
  writing-mode: vertical-rl;
  max-height: 700px;
  letter-spacing: 14px;
}

.vertical-text-spacing {
  display: block;
  text-align: end;
}

.vertical-text {
  line-height: 60px;
  font-size: 30px;
  writing-mode: vertical-rl;
  letter-spacing: 8px;
}

.works-section-container {
  background-color: var(--colorWhite);
  /*height: 2000px; !*  一旦2000pxに設定*!*/
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.works-content-wrapper {
  width: 1400px;
}

.work-img-container {
  max-width: 1400px;
  /*height: 700px;*/
  display: flex;
  justify-content: center;
  column-gap: 50px;
  align-items: end;
  margin-bottom: 100px;

  /*padding: 50px;*/
}

.AAA {
  font-size: 50px;
  font-weight: bold;
  display: block;
  color: var(--colorBlack);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.BBB {
  font-size: 50px;
  font-weight: bold;
  display: block;
  color: var(--colorBlack);
}

.before-after-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  align-items: center;
}

.car-name {
  font-size: 50px;
  font-weight: bold;
  color: var(--colorBlack);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.price-plan {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .period {
    font-size: 30px;
    font-weight: bold;
  }

  .description {
    font-size: 22px;
    letter-spacing: 1px;
  }

  .price {
    font-size: 30px;
    font-weight: bold;
  }
}

.price-card {
  max-width: 800px;
  border-radius: 4px;
  background-color: var(--colorWhite);
  color: var(--colorBlack);
  padding: 90px;

  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.price-section-container {
  background-image: url("../../images/top/priceSectionBackImage.jpg");
  background-color: #1c1c1c;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding-top: 200px;
  padding-left: 100px;
}

.section-title {
  margin-bottom: 100px;
  .ja {
    font-weight: bold;
    position: relative;
    font-size: 40px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 4px;
    display: inline-block;

    &::before {
      position: absolute;
      top: 60px;
      left: -4px;
      width: 5px;
      height: 5px;
      content: "";
      border-radius: 50%;
      z-index: 100;
    }
  }

  .en {
    font-size: 20px;
    display: block;
  }

  &.black .ja {
    color: var(--colorBlack);
    border-color: var(--colorBlack);
  }
  &.black .ja::before {
    background-color: var(--colorBlack);
  }
  &.black .en {
    color: var(--colorBlack);
  }

  &.white .ja {
    color: var(--colorWhite);
    border-color: var(--colorWhite);
  }
  &.white .ja::before {
    background-color: var(--colorWhite);
  }
  &.white .en {
    color: var(--colorWhite);
  }
}

.link-button {
  font-weight: bold;
  background-color: var(--buttonColor);
  color: var(--colorWhite);
  font-size: 30px;
  padding: 30px 90px;
  display: inline-block;
}

.coating-product-section-container {
  background-color: var(--colorWhite);
  padding-top: 200px;
}

.coating-product-container {
  display: flex;
  justify-content: center;
}

.section-content {
  width: 1400px;
}

.products-img {
  width: 400px;
}

.products-container {
  .name {
    color: var(--colorBlack);
    font-size: 26px;
    font-weight: bold;
  }

  .description {
    color: var(--colorBlack);
    font-size: 18px;
  }
}

.products-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.review-section {
  background-color: var(--colorWhite);
  color: var(--colorBlack);
  display: flex;
  flex-direction: column;
}

.section-content-wrapper {
  width: 1400px;
  align-self: center;
}

.review-img-container {
  display: flex;
  align-items: end;
  gap: 30px;
  padding-block: 90px 120px;
}

.work-car-card {
  display: flex;
  flex-direction: column;
  row-gap: 150px;
}

.review-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  align-self: center;
}

.reviewer-name {
  font-size: 22px;
}

.coating-type {
  font-size: 22px;
}

.review-title {
  font-weight: bold;
  font-size: 35px;
}

.review-comment {
  font-size: 22px;
}

.access-section-wrapper {
  background-color: var(--colorBlack);
  padding-top: 100px;
  padding-bottom: 100px;
}

.access-section {
  width: 1400px;
  margin-inline: auto;
}

.map-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-text {
  font-size: 22px;
  width: 545px;
}

.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
}

.company-text {
  font-size: 22px;
  text-align: center;
  line-height: 1.6;
}

.more-button {
  text-align: center;
  padding-block: 80px;
}

.question-section-wrapper {
  background-color: var(--colorBlack);
  padding-top: 100px;
}

.question-content-wrapper {
  width: 1400px;
  margin: 0 auto;
}

.question-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button-flex {
  background-color: var(--colorPureWhite);
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 30px;
  width: 1000px;
  padding: 30px 50px;
  gap: 30px;
}

.question {
  color: blue;
  font-size: 30px;
}

.answer {
  color: red;
  font-size: 30px;
}

.question-text {
  text-align: left;
  letter-spacing: 0.05em;
}

.question-img {
  transform: rotate(45deg);
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-list {
  display: flex;
  gap: 60px;
  font-size: 24px;
  justify-content: center;
}

.logo-wrapper {
  text-align: center;
  padding-top: 30px;
}

/* aaaaa */

/*.access-section-2 {*/
/*  background-color: var(--main-bg-color);*/
/*  padding-block: 100px;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/

/*.content-outer-wrapper {*/
/*  width: 1400px;*/
/*}*/

/*.content-inner-wrapper {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  row-gap: 120px;*/
/*  font-size: 22px;*/
/*}*/

/*.access-item-row {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*}*/

/*.access-description {*/
/*  width: 545px;*/
/*}*/

/*.access-shop-info {*/
/*  text-align: center;*/
/*  line-height: 2;*/
/*}*/
