/*このセクション固有の赤いやつはsectionには入れない！*/

.decoration-line {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    top: 48%;
    right: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100px;
    content: "";
    background-color: var(--colorAccent);
  }
}

.price-card-wrapper {
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-inline: 20px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.price-page-price-card {
  min-width: 0;
  flex: 1;
}

.price-text-wrapper {
  background-image: url("../../../images/price/cardPolymer.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 500px;

  border-radius: 5px;

  padding-top: 40px;
  padding-inline: 20px;

  text-align: center;

  transition: transform 0.3s ease;
  &:hover {
    transition: transform 0.3s ease;
    transform: translateY(-5px);
  }

  .price {
    font-size: clamp(30px, 3.8vw, 48px);
    overflow-wrap: break-word;
    font-weight: bold;
  }

  .description {
    margin-top: 10px;

    font-size: var(--font-size-sm);
    overflow-wrap: break-word;
    text-align: left;
  }

  &.polymer {
    background-image: url("../../../images/price/cardPolymer.jpg");
  }

  &.ns-10h {
    background-image: url("../../../images/price/cardNS10H.jpg");
  }

  &.nasiol {
    background-image: url("../../../images/price/cardNasiol.jpg");
  }

  &.kube-bond {
    background-image: url("../../../images/price/cardKubebond.jpg");
  }
}

.liquid-name {
  font-size: var(--font-size-lg);
  color: var(--colorBlack);
  font-weight: bold;
  margin-left: 20px;
}

/*sp*/
.price-card-wrapper-sp {
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
    gap: 10px;

    overflow: scroll;
    scroll-snap-align: center;
    scroll-snap-type: x mandatory;
  }
}

.price-card-price-page-sp {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  scroll-snap-align: center;

  .liquid-name {
    font-size: var(--font-size-lg);
    color: var(--colorBlack);
    font-weight: bold;
    margin-left: 20px;
  }

  .price {
    color: var(--colorBlack);
    font-size: var(--font-size-xxxl);
    overflow-wrap: break-word;
    font-weight: bold;
  }

  .description {
    color: var(--colorBlack);
    font-size: var(--font-size-sm);
  }
}

.price-card-img-sp {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/*sp*/

/*ここからnotesセクション*/

.coating-guide {
  max-width: 1400px;

  background-image: url("../../../images/price/craftSelectionCard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: var(--colorShadow);

  padding-top: 220px;

  .title {
    text-align: left;
    padding-inline: 80px;
    font-size: clamp(18px, 3vw, 30px);
  }

  .message {
    text-align: left;

    padding-inline: 80px;
    padding-block: 40px;

    font-size: clamp(12px, 2vw, 20px);
  }

  .attention {
    padding-bottom: 20px;
    padding-left: 20px;
    opacity: 0.7;
    font-weight: lighter;

    .attention-title {
      font-size: clamp(12px, 2vw, 20px);
    }

    .attention-list {
      font-size: clamp(12px, 2vw, 20px);
    }
  }

  @media screen and (max-width: 767px) {
    padding-top: 20px;

    .title {
      text-align: center;
      padding-inline: 0;
    }

    .message {
      text-align: center;
      padding-inline: 0;
    }

    .attention {
      display: none;
    }
  }
}

/*SP時のみsectionのpaddingがなくなるので上書きでpaddingを消すクラスを作成*/
.section-padding-ignore {
  @media screen and (max-width: 767px) {
    padding-block: 0;
    padding-inline: 0;
  }
}

/*ここまでcoating-guideセクション*/

/*ここからサイズ表セクション*/
.size-chart-bg {
  background-color: var(--colorPureWhite);
  color: var(--colorBlack);
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .attention {
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
      font-size: 10px;
    }
  }
}

.size-chart {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 2px;

  @media screen and (max-width: 767px) {
    padding: 0;
  }

  .car-models {
    font-size: var(--font-size-xl);
    background-color: var(--colorWhite);
    border-radius: 2px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

    padding: 30px 15px;

    @media screen and (max-width: 767px) {
      font-size: var(--font-size-sm);
    }
  }
  .car-models li:not(:last-child)::after {
    content: "/";
  }
}

.summary {
  display: flex;
  justify-content: space-between;
  background-color: var(--colorWhite);

  font-size: var(--font-size-xl);
  font-weight: bold;
  border-radius: 2px;

  padding: 30px 30px;

  .minus-icon {
    display: none;
  }

  @media screen and (max-width: 767px) {
    font-size: var(--font-size-sm);
    padding: 20px 40px;
  }
}

/*アコーディオンOPEN時*/
details[open] summary {
  .plus-icon {
    display: none;
  }
  .minus-icon {
    display: block;
  }
}

/*ここまでサイズ表セクション*/

/*ここからdetail-section*/

.details-header {
  .title {
    font-weight: bold;
    position: relative;
    font-size: var(--font-size-xxl);
    border-bottom: 2px solid var(--colorOrange);
    padding-bottom: 4px;
    display: inline-block;

    &::before {
      background-color: var(--colorOrange);
      position: absolute;
      top: 57px;
      left: -4px;
      width: 12px;
      height: 12px;
      content: "";
      border-radius: 50%;
      z-index: 100;
    }
  }

  .comment {
    padding-top: 15px;
    font-size: var(--font-size-lg);
    letter-spacing: 2px;
  }

  @media screen and (max-width: 767px) {
    text-align: center;

    .title {
      font-size: var(--font-size-xl);

      &::before {
        top: 43px;
      }
    }

    .comment {
      font-size: var(--font-size-sm);
    }
  }
}

.detail-card-wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-inline: auto;

  @media screen and (max-width: 767px) {
    justify-content: start;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;

    max-width: 300px;
    margin-inline: auto;
  }
}

@keyframes textColor {
  from {
    color: var(--colorBlack);
  }

  to {
    color: var(--colorOrange);
  }
}

.detail-card {
  flex: 1;
  min-width: 200px;
  max-width: calc(1200px / 3);

  background-color: var(--colorWhite);
  color: var(--colorBlack);
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 60px;

  padding-inline: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: 767px) {
    flex: 0 0 100%;
    scroll-snap-align: center;
    position: relative;

    &::after {
      position: absolute;
      right: 10px;
      bottom: 0;
      font-size: 40px;
      font-weight: 700;
      color: #1c1c1c;
      content: "…";
      animation: textColor 1.5s infinite alternate;
    }
  }

  .detail-card-title {
    text-align: center;
    font-weight: bold;
  }

  .detail-card-text {
    text-align: center;
    font-size: clamp(12px, 2vw, 14px);
  }

  .detail-card-size-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-inline: auto;
  }

  .detail-card-size {
    display: flex;
    justify-content: space-between;
  }

  .detail-card-size {
    display: flex;
    font-weight: bold;
    /*gap: 100px;*/
    gap: clamp(50px, 1vw, 100px);
    font-size: clamp(20px, 2.5vw, 30px);
  }
}

.feature {
  max-width: min(100%, 1200px);
  margin-inline: auto;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.feature-title {
  font-weight: bold;
  margin-top: 15px;
  font-size: var(--font-size-lg);
  white-space: pre-wrap;
  letter-spacing: 2px;
}

.feature-text {
  letter-spacing: 1.6px;
  margin-top: 5px;
  font-size: clamp(var(--font-size-md), 2.8vw, var(--font-size-lg));
  white-space: pre-line;
  text-align: left;
  line-height: 30px;
}

.spec-container {
  display: flex;
  align-items: center;
  gap: clamp(20px, 8vw, 200px);

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  .spec-image {
    width: 100%;
    min-width: 375px;
    height: auto;
  }
}

.spec-item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  letter-spacing: 1px;
}

.spec-label {
  width: 150px;
}

.spec-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-section {
  display: flex;
  flex-direction: column;
  gap: 100px;

  @media screen and (max-width: 767px) {
    gap: 60px;
  }
}

.detail-group {
  display: flex;
  flex-direction: column;
  gap: 100px;

  @media screen and (max-width: 767px) {
    gap: 60px;
  }
}

.detail-inner {
  padding-inline: 50px;
  @media screen and (max-width: 767px) {
    padding-inline: 20px;
  }
}

/*ここまでdetail-section*/
