/*このセクション固有の赤いやつはsectionには入れない！*/
.section.decoration-line {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    top: 48%;
    right: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100px;
    content: "";
    background-color: red;
  }
}

.price-card-wrapper {
  display: flex;
  justify-content: center;
  z-index: 2;

  /**/
  overflow: hidden;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.price-page-price-card {
  min-width: 0;
  flex: 1;
}

.price-text-wrapper {
  background-image: url("../../../images/price/cardPolymer.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 500px;

  border-radius: 5px;

  padding-top: 40px;
  padding-inline: 20px;

  text-align: center;

  transition-duration: 0.5s;
  &:hover {
    transition: transform 0.3s ease;
    transform: translateY(-5px);
  }

  .price {
    font-size: var(--font-size-xxxl);
    overflow-wrap: break-word;
    font-weight: bold;
  }

  .description {
    margin-top: 10px;

    font-size: var(--font-size-sm);
    overflow-wrap: break-word;
    text-align: left;
  }
}
.liquid-name {
  font-size: var(--font-size-lg);
  color: var(--colorBlack);
  font-weight: bold;
  margin-left: 20px;
}

/*sp*/
.price-card-wrapper-sp {
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
    gap: 10px;

    overflow: scroll;
    scroll-snap-align: center;
    scroll-snap-type: x mandatory;
  }
}

.price-card-price-page-sp {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  scroll-snap-align: center;

  .liquid-name {
    font-size: var(--font-size-lg);
    color: var(--colorBlack);
    font-weight: bold;
    margin-left: 20px;
  }

  .price {
    color: var(--colorBlack);
    font-size: var(--font-size-xxxl);
    overflow-wrap: break-word;
    font-weight: bold;
  }

  .description {
    color: var(--colorBlack);
    font-size: var(--font-size-sm);
  }
}

.price-card-img-sp {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/*sp*/

/*ここからnotesセクション*/

.coating-guide {
  max-width: 1400px;

  background-image: url("../../../images/price/craftSelectionCard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: var(--colorShadow);

  padding-top: 220px;

  .title {
    text-align: left;
    padding-inline: 80px;
    font-size: clamp(18px, 3vw, 30px);
  }

  .message {
    text-align: left;

    padding-inline: 80px;
    padding-block: 40px;

    font-size: clamp(12px, 2vw, 20px);
  }

  .attention {
    padding-bottom: 20px;
    padding-left: 20px;
    opacity: 0.7;
    font-weight: lighter;

    .attention-title {
      font-size: clamp(12px, 2vw, 20px);
    }

    .attention-list {
      font-size: clamp(12px, 2vw, 20px);
    }
  }

  @media screen and (max-width: 767px) {
    padding-top: 20px;

    .title {
      text-align: center;
      padding-inline: 0;
    }

    .message {
      text-align: center;
      padding-inline: 0;
    }

    .attention {
      display: none;
    }
  }
}

/*SP時のみsectionのpaddingがなくなるので上書きでpaddingを消すクラスを作成*/
.section-padding-ignore {
  @media screen and (max-width: 767px) {
    padding-block: 0;
    padding-inline: 0;
  }
}
